<div class="container" *ngIf="!productList">
    <div class="row">

        <div class="m-auto">
            <mat-spinner></mat-spinner>
        </div>


    </div>
</div>
<div class="container m-2" *ngIf="productList">
    <div class="row">

        <div class="m-auto">
            <mat-button-toggle-group multiple>

                <mat-button-toggle (click)="selectCategoryToys()">Zabawki</mat-button-toggle>
                <mat-button-toggle (click)="selectCategoryKitchen()">Kuchnie</mat-button-toggle>
                <mat-button-toggle (click)="selectCategoryDif()">Inne</mat-button-toggle>
            </mat-button-toggle-group>
        </div>


    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-6  mb-1" *ngFor="let product of showList">

            <app-produkty-display-item [product]="product"></app-produkty-display-item>

        </div>

    </div>
</div>
