<footer id="sticky-footer" class=" py-4 bg-light text-dark-80">
    <div class="container">
        <div class="row">
            <ul class="m-auto justify-content-center">
                <li class=" justify-content-center" *ngFor="let link of navlinks"><a [routerLink]=[link[1]]>{{link[0]}}</a></li>
            </ul>
        </div>
        <div class="row justify-content-center">

            <ul class="social-icons m-2">
                <li><a class="facebook" href="https://www.facebook.com/krainapatykow" target="_blank"><i class="fa fa-facebook"></i></a></li>


            </ul>
        </div>

    </div>
    <div class="container text-center copyright">
        <small>Copyright &copy; rafal.bujok[at]gmail.com</small>
    </div>

</footer>
