<div class="">
    <div class="">
        <span>
 Kontakt i dane firmy
      </span>
    </div>

    <div>
        <div>
            <h3><span style="color: #000000;"><strong>Adres</strong></span></h3>
            <p><span style="color: #000000;">patyki sp. z o. o.<br>XXXXXXXX 22<br>00-000 XXXXXX<br>NIP: 000000000 </span></p>
            <h3><span style="color: #000000;"><strong>Obsługa zamówień, zapytania - klienci indywidualni</strong></span></h3>
            <p><span style="color: #000000;">Telefon: 000000000<br>E-mail: email.email@email.com</span></p>
            <p><span style="color: #000000;"><strong>Godziny pracy:</strong><br>Poniedziałek - Piątek: 10:00 - 18:00</span></p>
            <h3><span style="color: #000000;"><strong>Współpraca - klienci biznesowi</strong></span></h3>
            <p><span style="color: #000000;">Telefon: 000 000 000<br>E-mail: email.email@email.com</span></p>
        </div>
    </div>
</div>
