<mat-card class="m-3">
    <form [formGroup]="formTemplate" class="form-group">
        <div>
            <mat-form-field>
                <mat-label>Nazwa</mat-label>
                <input matInput required formControlName="name" placeholder="nazwa" class="form-control">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Opis</mat-label>
                <textarea matInput required formControlName="info" placeholder="opis" class="form-control"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cena</mat-label>
                <input matInput required formControlName="price" placeholder="sugerowana cena" class="form-control">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Dostępność</mat-label>
                <input matInput required formControlName="availability" placeholder="od ręki/na zamówienie" class="form-control">
            </mat-form-field>
        </div>
        <div>
            <mat-label class="m-3">Kategorie</mat-label>
            <mat-select formControlName="category" required placeholder="Wybierz kategorie" class="form-control">
                <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
            </mat-select>
        </div>
        <div class="container">
            <div class="row m-1">
                <div>
                    <input type="file" accept="image/*" #fileUploader formControlName="imageUrl0" class="form-control m-3 p-1 file" (change)="showPreview($event, 0)">
                    <button *ngIf="!editProduct" for="file" class="m-3" mat-raised-button (click)="fileUploader.click()">Wybierz</button>
                    <button *ngIf="editProduct" for="file" class="m-3" mat-raised-button (click)="fileUploader.click()" (click)="changeImg(editProduct.imagePath0, 0)">Zmień</button>
                </div>
                <div>
                    <img [src]="imgSrc[0]" width="300px" height="250px">
                </div>
            </div>
            <div class="row m-1" *ngIf="selectedImage[0] || editProduct">
                <div>
                    <input type="file" accept="image/*" #fileUploader1 formControlName="imageUrl1" class="form-control m-3 p-1" (change)="showPreview($event, 1)">
                    <button *ngIf="!editProduct" for="file" class="m-3" mat-raised-button (click)="fileUploader1.click()">Wybierz</button>
                    <button *ngIf="editProduct" for="file" class="m-3" mat-raised-button (click)="fileUploader1.click()" (click)="changeImg(editProduct.imagePath1, 1)">Zmień</button>
                </div>
                <div>
                    <img [src]="imgSrc[1]" width="300px" height="250px">
                </div>
            </div>
            <div class="row m-1" *ngIf="selectedImage[1] ||editProduct">
                <div>
                    <input type="file" accept="image/*" #fileUploader2 formControlName="imageUrl2" class="form-control m-3 p-1" (change)="showPreview($event, 2)">
                    <button *ngIf="!editProduct" for="file" class="m-3" mat-raised-button (click)="fileUploader2.click()">Wybierz</button>
                    <button *ngIf="editProduct" for="file" class="m-3" mat-raised-button (click)="fileUploader2.click()" (click)="changeImg(editProduct.imagePath2, 2)">Zmień</button>
                </div>
                <div>
                    <img [src]="imgSrc[2]" width="300px" height="250px">
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class=" m-3 " mat-stroked-button (click)="resetForm()">Anuluj</button>
            <button class="m-3 " *ngIf="!editProduct" mat-stroked-button (click)="onSubmit(formTemplate.value)" [disabled]="formTemplate.invalid">Dodaj</button>
            <button class="m-3 " *ngIf="editProduct" mat-stroked-button (click)="submitEditProduct(formTemplate.value)">Zmień</button>
        </div>
    </form>
</mat-card>