.navFixed {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.removeNav {
    display: none
}

.notVisible {
    visibility: hidden;
}

#parentDiv {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 182px;
}
